@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --task-font: 'Barlow Condensed', sans-serif;
  --task-font-two: 'Manrope', sans-serif;
  --task-gray: #757a7b;
  --task-gray-rgb: 117, 122, 123;
  --task-white: #ffffff;
  --task-white-rgb: 255, 255, 255;
  --task-black: #04171a;
  --task-black-rgb: 4, 23, 26;
  --task-green: #b6ef00;
  --task-gray2: #e6e6ec
}

body {
  font-family: var(--task-font);
  color: var(--task-gray);
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
}

a {
  color: var(--task-gray);
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--task-font-two);
  color: var(--task-black);
  margin: 0;
}

p {
  margin: 0;
}


/*--------------------------------------------------------------
# Main Slider
--------------------------------------------------------------*/
.main-slider {
  position: relative;
  background-color: var(--task-black);
  z-index: 10;
  /* max-height: 100vh; */
}

.main-slider .item {
  background-color: var(--task-black);
  position: relative;
  padding-top: 250px;
  padding-bottom: 284px;
  z-index: 10;
}

.main-slider__bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--task-black);
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: luminosity;
  background-size: cover;
  opacity: .50;
  z-index: -1;
  overflow: hidden;
}

.main-slider__bg-two-outer {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--task-black);
  height: 110px;
}

.main-slider__bg-two {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -110px;
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: luminosity;
  background-color: var(--task-black);
  opacity: .50;
  filter: blur(10px);
}

.main-slider__shape {
  position: absolute;
  top: 0;
  bottom: 0;
  mix-blend-mode: hard-light;
  z-index: -1;
}

.main-slider__shape img {
  height: 100%;
  width: 50% !important;
  margin-left: auto;
}

.main-slider__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  z-index: 10;
}

.main-slider__sub-title {
  font-size: 20px;
  font-weight: 500;
  text-align: end;
  text-transform: uppercase;
  color: var(--task-white);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-120px);
  transform: translateY(-120px);
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
  -webkit-transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease, -webkit-transform 2000ms ease;
}

.main-slider__title-box {
  position: relative;
  text-transform: uppercase;
}

.main-slider__vertical {
  position: absolute;
  color: var(--task-green);
  font-size: 71px;
  line-height: 140px;
  transform-origin: top left;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  transform: rotate(180deg) translateY(20px);
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
  -webkit-transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease, -webkit-transform 2000ms ease;
}

.main-slider__title {
  font-size: 200px;
  color: var(--task-white);
  font-weight: 800;
  line-height: 160px;
  margin-top: 25px;
  margin-bottom: 36px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-120px);
  transform: translateY(-120px);
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
  -webkit-transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease, -webkit-transform 2000ms ease;
}

.main-slider__btn-box {
  position: relative;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(120px);
  transform: translateY(120px);
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
  -webkit-transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease, -webkit-transform 2000ms ease;
}

.main-slider__btn:hover {
  color: var(--task-black);
}

.main-slider__btn:before {
  background-color: var(--task-white);
}

.active .main-slider__title,
.active .main-slider__sub-title,
.active .main-slider__btn-box {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0) translateX(0);
  transform: translateY(0) translateX(0);
}

.active .main-slider__vertical {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: rotate(90deg) translateX(-50%);
}

.main-slider .owl-theme .owl-dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  width: 100%;
  position: absolute;
  bottom: 164px;
  left: 0;
  right: 0;
  padding: 0 15px;
  margin: 0 auto;
  height: 0;
  line-height: 0;
}

.main-slider .owl-theme .owl-dots .owl-dot+.owl-dot {
  margin-left: 5px;
}

.main-slider .owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(var(--task-white-rgb), .20);
  margin: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-slider .owl-theme .owl-dots .owl-dot:hover span,
.main-slider .owl-theme .owl-dots .owl-dot.active span {
  background-color: transparent;
  border: 2px solid var(--task-white);
  opacity: 1;
}

.thm-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  outline: none !important;
  background-color: var(--task-green);
  color: var(--task-black);
  font-size: 16px;
  font-weight: 700;
  padding: 16px 50px 17px;
  overflow: hidden;
  transition: all 0.5s linear;
  z-index: 1;
}

.thm-btn::before {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background-color: var(--task-black);
  content: "";
  transform: scaleY(0.0) rotateX(0deg);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: -1;
}

.thm-btn:hover {
  color: var(--task-white);
}

.thm-btn:hover:before {
  transform: scaleY(1.0) rotateX(0deg);
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

/*--------------------------------------------------------------
# About  CSS
--------------------------------------------------------------*/

.about-one__imagebox {
  position: relative;
  height: 555px;
  overflow: hidden;

  width: 716px;
}


.about-one__imagebox-shape {
  position: absolute;
  top: 40px;
  left: 64px;
  z-index: -10;

}

.about-one__imagebox-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 85px;
  mix-blend-mode: luminosity;
  z-index: -9;
}

.about-one__imagebox-border {
  position: absolute;
  top: 84px;
  left: 37px;
  bottom: 84px;
  right: 52px;
  z-index: -8;
}

.about-one__imagebox-sub {
  position: absolute;
  bottom: 40px;
  left: 0;
  /* mix-blend-mode: luminosity; */
  z-index: -7;
}

.about-one__imagebox-iconbox {
  position: absolute;
  left: 0;
  bottom: 111px;
  width: 80px;
  height: 80px;
}

.idea-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}


.about-one__textbox-subtitle {
  text-transform: uppercase;
  font-size: 18px;
}

.about-one__textbox-title {
  font-size: 50px;
  line-height: 60px;
  line-height: auto;
  text-transform: uppercase;
}

.about-one__textbox-feature {
  display: flex;
  align-items: center;
}


.feature-left {
  position: relative;
  display: flex;
  align-items: center;
}

/* .feature-left__icon {
  height: 62px;
  height: 62px;
} */

.feature-left__title::before {
  content: "";
  position: absolute;
  right: 40px;
  top: 10%;
  bottom: 10%;
  width: .8px;
  background-color: var(--task-gray2);
}

.feature-left__title {
  margin-left: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.feature-right__text {
  font-family: var(--task-font-two);
  line-height: 26px;
  font-size: 15px;
  font-weight: 500;
}

.about-one__textbox-feature {
  margin-top: 50px;
}

.about-one__textbox-details {
  font-family: var(--task-font-two);
  margin-top: 50px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
}

.about-one__textbox-contact {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.contact-person {
  gap: 19px;
}

.contact-person__image {
  border: 1px solid var(--task-green);
  padding: 3px;
  border-radius: 50%;
  width: 63px;
  height: 63px;
}

.contact-person__name {
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}

.contact-person__title {
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
}


/*--------------------------------------------------------------
# Slider All Responsice CSS
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-slider__content {
    padding-left: 100px;
  }

  .main-slider .owl-theme .owl-dots {
    max-width: 960px;
  }

  .main-slider__title {
    font-size: 100px;
    line-height: 80px;
  }

  .main-slider__vertical {
    font-size: 48px;
    line-height: 50px;
  }

  /* about */

  .about-one__imagebox {
    width: 716px;
    margin: 0 auto;

  }

  .about-textbox {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .main-slider__content {
    padding-left: 60px;
  }

  .main-slider .owl-theme .owl-dots {
    max-width: 720px;
  }

  .main-slider__shape {
    display: none;
  }

  .main-slider__vertical {
    font-size: 36px;
    line-height: 70px;
  }

  .main-slider__title {
    font-size: 80px;
    line-height: 70px;
  }
}

@media only screen and (max-width: 767px) {

  .main-slider__content {
    padding-left: 30px;
  }

  .main-slider .owl-theme .owl-dots {
    max-width: 540px;
  }

  .main-slider__shape {
    display: none;
  }

  .main-slider__vertical {
    font-size: 18px;
    line-height: 35px;
  }

  .main-slider__sub-title {
    font-size: 10px;
  }

  .main-slider__title {
    font-size: 50px;
    line-height: 40px;
    margin-top: 12px;
    margin-bottom: 18px;
  }

  .thm-btn {
    font-size: 16px;
    padding: 8px 25px 8px;
  }

  .about-one__imagebox {
    height: 225px;
  }

  .about-one__imagebox-border,
  .about-one__imagebox-shape,
  .about-one__imagebox-sub,
  .about-one__imagebox-border,
  .about-one__imagebox-iconbox {
    display: none;
  }


  .about-one__imagebox-main img {
    width: 50%;
    margin: 0 auto;
  }

  .about-one__textbox-subtitle {
    font-size: 15px;
  }

  .about-one__textbox-title {
    font-size: 40px;
    line-height: 45px;
  }

  .feature-left__title {
    font-size: 18px;
    line-height: 20px;
  }

  .feature-left__title::before {
    right: 20px;
  }

  .feature-right__text,
  .about-one__textbox-details,
  .contact-person__title {
    font-size: 14px;
    line-height: 18px;
  }

  .about-one__textbox-feature,
  .about-one__textbox-details {
    margin-top: 25px;
  }

  .contact-person__image {
    border: 1px solid var(--task-green);
    padding: 3px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .contact-person__name {
    font-size: 20px;
    line-height: 25px;
  }
}